.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
}
.nav_links2 {
  padding-left: 100px;
}

.logo img {
  width: 40%;
}

.menu {
  margin-bottom: 0;
}

.nav_item a {
  text-decoration: none;
  color: var(--heading-color);
  font-weight: 500;
  font-size: 1.1rem;
}

.nav_item a:hover {
  color: var(--secondary-color);
}

.nav_item a:active__link {
  color: var(--primary-color);
}

.nav_item2 {
  display: none;
}
.nav_item5 {
  display: none;
}
.nav_item3 {
  display: none;
}
.mobile_menu {
  font-size: 1.3rem;
  color: var(--secondary-color);
  display: none;
}

.sticky_header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: var(--bs-body-bg);
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 8px -3px var(--navbar-shadow-color);
  z-index: 999;
}

@media only screen and (max-width: 992px) {
  .logo img {
    width: 30%;
  }
  .nav_item5 {
    display: flex;
  }

  .navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000035;
    z-index: 999;
    display: none;
  }

  /* .nav_item2 {
    display: flex;
    margin-top: auto;
  } */
  .nav_item3 {
    display: flex;
    padding-top: 15rem;
  }
  .nav_btns h5,
  .nav_btns button {
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 75%);
    height: 100%;
    background: var(--menu-color);
    flex-direction: column;
    line-height: 0.5rem;
    justify-content: center;
    z-index: 9999;
  }

  .show_menu {
    display: block;
  }

  .mobile_menu {
    display: block;
  }

  section {
    padding: 40px 0;
  }
}

@media only screen and (max-width: 768px) {
  .logo img {
    width: 40%;
  }
  .nav_item5 {
    display: flex;
  }
  .menu {
    width: calc(100% - 60%);
  }
}
